<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.ozone">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".utils.slider.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.MainActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".network.AQIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".network.MapsIntentService" />
        <service android:name=".ui.view.dialog.MarkerDialog" />

        <service android:name=".widget.OzoneRemoteViewService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <service android:name=".widget.OzoneWidgetIntentService" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBp9XW42V5Uu8bvTsYS1uymPmFsBzSRW9k" />

        <activity
            android:name=".ui.view.dialog.MarkerDialog"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".ui.view.dialog.DetailsDialog"
            android:theme="@style/Theme.AppCompat.Dialog"/>


        <receiver android:name=".widget.OzoneWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ozone_widget_info" />
        </receiver>
    </application>

</manifest>